.card {
  width: 250px;
  height: auto;
  background-color: #2080cb;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  color: white; /* Color de letra de span*/
}

.clarito {
  background-color: #2080cb; /* Azul claro */
}

.fuertito {
  background-color: #004a98; /* Rojo */
}

.card-header {
  width: 80%;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.card-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 11px;
}

/* Media Queries para tamaños responsivos */
/* Pantallas muy pequeñas */
@media (max-width: 949px) {
  .card {
    width: 100px; /* Tamaño mínimo */
  }
}

/* Pantallas pequeñas */
@media (min-width: 950px) and (max-width: 1299px) {
  .card {
    width: 150px; /* Tamaño pequeno */
  }
}

/* Pantallas medianas */
@media (min-width: 1300px) and (max-width: 1499px) {
  .card {
    width: 200px; /* Tamaño intermedio */
  }
}

/* Pantallas grandes*/
@media (min-width: 1500px) {
  .card {
    width: 250px; /* Tamaño máximo */
  }
}
