.window-space {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.layout-container {
  display: grid;
  grid-template-columns: 350px 1fr; /* Sidebar y contenido principal */
  height: 100%;
  background-color: #f9f9f9;
}

.body-content {
  height: calc(100% - 104px);
  margin-top: 104px;
  width: 100%;
  display: flex;
}

/* Contenido principal */
.main-content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 20px;
  gap: 20px;
  overflow-y: auto;
}

/* Media queries para pantallas medianas y pequeñas */
@media (max-width: 1200px) {
  .layout-container {
    grid-template-columns: 200px 1fr;
  }
}
