.table-container {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  overflow-x: auto; /* Habilita el scroll horizontal si es necesario */
}

.attendance-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.attendance-table thead {
  background-color: #004ba8;
  color: white;
}

.attendance-table tbody tr:nth-child(odd) {
  background-color: #e3eaf2;
}

.attendance-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.attendance-table input[type="checkbox"] {
  display: block;
  margin: auto;
}

/* Media Queries para tama침os responsivos */

/* Pantallas grandes */
@media (min-width: 1500px) {
  .table-container {
    width: 1050px; /* Ancho m치ximo para pantallas grandes */
  }
}

/* Pantallas medianas */
@media (min-width: 992px) and (max-width: 1499px) {
  .table-container {
    width: 800px;
  }
}

/* Pantallas peque침as */
@media (min-width: 768px) and (max-width: 991px) {
  .table-container {
    width: 600px;
  }
}

/* Pantallas muy peque침as */
@media (max-width: 767px) {
  .table-container {
    width: 300px;
  }
}
