<div class="container">
    <p class="title">Horarios de la semana</p>
    <table class="table-class">
        <thead>
            <tr>
                <th style="width: 60px;">Week</th>
                <th>
                    <div>14</div>
                    <div>Mon</div>
                </th>
                <th>
                    <div>15</div>
                    <div>Tue</div>
                </th>
                <th>
                    <div style="color: #457B9D">16</div>
                    <div style="color: #457B9D">Wed</div>
                </th>
                <th>
                    <div>17</div>
                    <div>Thu</div>
                </th>
                <th>
                    <div>18</div>
                    <div>Fri</div>
                </th>
                <th>
                    <div>19</div>
                    <div>Sat</div>
                </th>
                <th>
                    <div>20</div>
                    <div>Sun</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-hour">09:00</td>
                <td rowspan="2">
                    <div class="activity blue1">
                        <p>Adm.</p>
                        <p>Proyectos</p>
                        <div class="activity-hour">
                            <img src="assets/images/clock-icon.svg" />
                            <p>09:30 - 11:20</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-hour">10:00</td>
            </tr>
            <tr>
                <td class="table-hour">11:00</td>
                <td></td>
                <td></td>
                <td rowspan="2">
                    <div class="activity blue2">
                        <p>Diseño de</p>
                        <p>Interfaces</p>
                        <div class="activity-hour">
                            <img src="assets/images/clock-icon.svg" />
                            <p>11:30 - 12:30</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-hour">12:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td rowspan="2" style="vertical-align: top; padding-top: 0;">
                    <div class="activity blue3" style="height: 80px; justify-content: center;">
                        <p>Bases de</p>
                        <p>Datos</p>
                        <div class="activity-hour">
                            <img src="assets/images/clock-icon.svg" />
                            <p>12:00 - 13:40</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-hour">13:00</td>
            </tr>
            <tr>
                <td class="table-hour">14:00</td>
                <td></td>
                <td></td>
                <td rowspan="2" style="vertical-align: top; padding-top: 0;">
                    <div class="activity blue3" style="height: 80px; justify-content: center;">
                        <p>Inteligencia</p>
                        <p>Artificial</p>
                        <div class="activity-hour">
                            <img src="assets/images/clock-icon.svg" />
                            <p>14:00 - 15:40</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-hour">15:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td rowspan="2" style="vertical-align: top; padding-top: 0;">
                    <div class="activity blue1" style="height: 50px; justify-content: center;">
                        <p>Bases de</p>
                        <p>Datos</p>
                        <div class="activity-hour">
                            <img src="assets/images/clock-icon.svg" />
                            <p>15:00 - 16:00</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-hour">16:00</td>
            </tr>
            <tr>
                <td class="table-hour">17:00</td>
            </tr>
            <tr>
                <td class="table-hour">18:00</td>
            </tr>
        </tbody>
    </table>
</div>