/* Contenedor de la tabla */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
  border-radius: 15px;
}

/* Tabla */
.assignment-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.assignment-table thead {
  background-color: #f3f6f9;
  color: #4c5464;
}

.assignment-table th,
.assignment-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

/* Botones */
.edit-button,
.send-button,
.status-button {
  border: none;
  background: none;
  cursor: pointer;
}

.edit-button i {
  color: #ffa500;
}

.send-button i {
  color: #1e90ff;
}

.status-button.completed i {
  color: #28a745;
}

.status-button.pending i {
  color: #dc3545;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  /* font-size: 20px; Ajusta el tamaño del ícono */
  color: #004ba8; /* Color predeterminado del ícono */
}

.sort-button:hover {
  color: #007bff; /* Cambia el color al pasar el mouse */
}

/* Estilo de entregas */
.entregas {
  font-weight: bold;
  color: #004ba8;
}

/* Icono gris (cuando entregas es 0) */
.icono-gris {
  color: gray;
}

/* Icono verde (cuando entregas > 0) */
.icono-verde {
  color: green;
}

/* Responsive */
@media (max-width: 768px) {
  .assignment-table th,
  .assignment-table td {
    font-size: 12px;
    padding: 5px;
  }
}
