<div class="sidebar">
  <div class="profile">
    <img class="menu-icon" src="assets/images/menu-icon.svg" />
    <div class="avatar">
      <img src="{{ profileImgUrl }}" alt="Avatar" />
    </div>
    <h1>Rosa Martinez</h1>
    <h3>Docente de la facultad de ingeniería</h3>
    <br />
  </div>
  <ul class="menu">
    <li>
      <button routerLink="/cursos" routerLinkActive="active">Curso</button>
    </li>
    <li>
      <button routerLink="/notas" routerLinkActive="active">Notas</button>
    </li>
    <li>
      <button routerLink="/tareas" routerLinkActive="active">Tareas</button>
    </li>
    <li>
      <button routerLink="/asistencias" routerLinkActive="active">
        Asistencia
      </button>
    </li>
  </ul>
</div>
