<div class="container text-center"> <!-- Componente que junta todas las tarjetas de las materias -->
  <div class="row g-4">
    <div class="col">
      <app-card-materia [title]="'Interfaces'"></app-card-materia>
    </div>
    <div class="col">
      <app-card-materia [title]="'Estructuras'"></app-card-materia>
    </div>
    <div class="col">
      <app-card-materia [title]="'Base de datos'"></app-card-materia>
    </div>
    <div class="col">
      <app-card-materia [title]="'Tecnicas'"></app-card-materia>
    </div>
    <div class="col">
      <app-card-materia [title]="'Interfaces'"></app-card-materia>
    </div>
    <div class="col">
      <app-card-materia [title]="'Estructuras'"></app-card-materia>
    </div>
    <div class="col">
      <app-card-materia [title]="'Base de datos'"></app-card-materia>
    </div>
    <div class="col">
      <app-card-materia [title]="'Tecnicas'"></app-card-materia>
    </div>
  </div>
</div>
