/* Contenedor de la tabla */
.table-container {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  margin: 0 auto; /* Centra la tabla horizontalmente */
  overflow-x: auto; /* Habilita el scroll horizontal si es necesario */
}

/* Tabla */
.notes-table {
  border-collapse: collapse;
  width: 100%; /* Forza a la tabla a ocupar el 100% del contenedor */
  max-width: 1050px; /* Ancho máximo para pantallas grandes */
  text-align: center;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Celdas */
.notes-table th,
.notes-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; /* Centra el texto en las celdas */
}

/* Encabezado */
.notes-table thead {
  background-color: #004ba8;
  color: white;
}

/* Colores alternos en las filas */
.notes-table tbody tr:nth-child(odd) {
  background-color: #e3eaf2;
}

.notes-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Media Queries para tamaños responsivos */

/* Pantallas grandes */
@media (min-width: 1400px) {
  .table-container {
    width: 1050px; /* Ancho máximo para pantallas grandes */
  }
}

/* Pantallas medianas */
@media (min-width: 992px) and (max-width: 1399px) {
  .table-container {
    width: 800px;
  }
}

/* Pantallas pequeñas */
@media (min-width: 768px) and (max-width: 991px) {
  .table-container {
    width: 600px;
  }
}

/* Pantallas muy pequeñas */
@media (max-width: 767px) {
  .table-container {
    width: 300px;
  }
}
