body {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Altura de la ventana */
    width: 100vw;
    margin: 0;/* Elimina márgenes por defecto */
  }
  h1 {
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
    color: #333; /* Color del título */
    font-weight: lighter;
    text-align: center;
  }

  .header { /*Estilos para el header del login*/
    width: 100%;
    height: 104px;
    background-color: #004A98;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  .header img{ /*Estilos para el logo del header*/
    height: auto;
    width: 30%;
    max-width: 204px;
    margin-left: 20px;
  }
  .login-side { /*Estilos para darle posición al contenido del login*/
    height: 100%;
    width: 100%;
    margin-top: 104px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }
  .login-box {
    width: 90%;
    max-width: 500px;
    margin-bottom: 10px;
  }
  .footer {
    position: absolute; /* Fija la imagen al fondo */
    bottom: 0;
    left: 0;
    width: 100%; /* Asegura que la imagen se ajuste al ancho */
    height: auto; /* Mantiene la proporción */
    z-index: 0; /* Envía la imagen al fondo */
  }