body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura de la ventana */
  width: 100vw;
}

h1 {
  margin-bottom: 20px; /* Espacio entre el título y el formulario */
  color: #333; /* Color del título */
  font-weight: lighter;
  text-align: center;
}

.login-side {
  height: 100%;
  width: 100%;
  margin-top: 104px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.login-box {
  width: 90%;
  max-width: 500px;
  margin-bottom: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}
