<div class="window-space">
  <div class="header">
    <img class="header-logo" src="assets/images/uaslp-logo.png" />
    <img class="header-icon" src="assets/images/user-icon.png" />
  </div>
  <div class="body-content">
    <div class="layout-container">
      <app-sidebar class="sidebar"></app-sidebar>

      <div class="main-content">
        <app-search-bar class="search-bar"></app-search-bar>
        <app-card-row class="card-row"></app-card-row>
        <app-tabla-tarea
          class="tabla-notas"
          [listaTareas]="tareas"
        ></app-tabla-tarea>
      </div>
    </div>
  </div>
</div>
